Minimization input file in explicit solvent
 &cntrl
    ! Minimization options
    imin=1,        ! Turn on minimization
    maxcyc=5000,   ! Maximum number of minimization cycles
    ncyc=2500,     ! 100 steepest-descent steps, better for strained systems

    ! Potential energy function options
    cut=9.0,       ! nonbonded cutoff, in Angstroms

    ! Control how often information is printed to the output file
    ntpr=100,      ! Print energies every 100 steps
    ntxo=2,        ! Write NetCDF format

    ! Restraint options
    ntr=1,         ! Positional restraints for proteins, sugars, and ligands
    restraint_wt=5.0,
    restraintmask=':1-332',
    nmropt=1,

    ! Set water atom/residue names for SETTLE recognition
    watnam='WAT',  ! Water residues are named WAT
    owtnm='O',     ! Water oxygens are named O
 /
 &wt type = 'END'
 /

LISTOUT = POUT_MIN
DISANG=dist_angel_dihedral.RST
