prep simulation  20 ps
 &cntrl
   imin = 0, nstlim = 20000, irest = 1, ntx = 5, dt = 0.001, ! 20 ps
   ntt = 3, temp0 = 300.0, gamma_ln = 1.0, ig = -1,  cut = 9.0,
   ntc = 2, ntf = 1,
   ntb = 2,barostat = 2,
   ntp = 1, pres0 = 1.0, taup = 2.0,
   ioutfm = 1, iwrap = 1,
   ntwx = 1000, ntpr = 1000, ntwr = 20000,
   
   ntr = 1, restraint_wt = 0.1,
   restraintmask='!:WAT & !@H=',
 /
 &ewald
 / 
 &wt type = 'END'
 /
 LISTOUT = POUT_PREP
