heating 100 ps
 &cntrl
   imin = 0, nstlim = 100000, irest = 0, ntx = 1, dt = 0.001,
   ntt = 3, gamma_ln = 1.0, temp0 = 300.0, tempi = 50.0, cut = 9.0,
   ntc = 2, ntf = 2,
   ntb = 1,barostat = 2,
   ioutfm = 1, iwrap = 1,
   ntwx = 1000, ntpr = 1000, ntwr = 5000,

   nmropt = 1,
   ntr = 1, restraint_wt = 1.00,
   restraintmask='!:WAT & !@H=',
 /

 &ewald
 / 

 &wt
   type='TEMP0',
   istep1 = 0, istep2 = 8000,
   value1 = 50.0, value2 = 300.0
 /
 &wt type = 'END'
 /
 DISANG=dist_angel_dihedral.RST
 LISTOUT = POUT_HEAT

