Minimization input file in explicit solvent
 &cntrl
    ! Minimization options
    imin=1,        ! Turn on minimization
    maxcyc=10000,   ! Maximum number of minimization cycles
    ncyc=5000,     ! 100 steepest-descent steps, better for strained systems

    ! Potential energy function options
    cut=9.0,       ! nonbonded cutoff, in Angstroms

    ! Control how often information is printed to the output file
    ntpr=100,      ! Print energies every 100 steps
    ntxo=2,        ! Write NetCDF format

    ! Restraint options
    ntr=1,         ! Positional restraints for proteins, sugars, and ligands
    restraint_wt=5.0,
    restraintmask=':1-446',

    ! Set water atom/residue names for SETTLE recognition
    watnam='WAT',  ! Water residues are named WAT
    owtnm='O',     ! Water oxygens are named O
 /

Protein posres
1.0
RES 1 332
END
END
DISANG = dist_angel_dihedral.RST
LISTOUT = POUT_MIN
